*{
    margin: 0;
    font-size: 0;
    padding: 0;
}

body {
    background-color: rgba(9, 114, 171);
}

.head_bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1px;
    width: 100%;
    height: 100px;
    background-color: rgb(9, 114, 171);
    margin: 0px;
}

.logo1 {
    width: 100px;
    height: 100%;
    background-image: url(../img/Facebook-Transparent-File.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.facebook {
    width: 300px;
    height: 100%;
    margin-right: 40px;
    background-image: url(../img/Facebook-Logo-Transparent-Free-PNG.png);
    background-size: 310px;
    background-repeat: no-repeat;
    background-position: center;
}

.box_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
}

.box_login {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 300px;
    height: 300px;
}

.login_set {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: rgba(9, 114, 171, 0.589);
    border-color: rgba(19, 150, 231, 0);
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 70px;
}

input {
    font-size: 30px;
    border-radius: 10px;
}

label {
    font-size: 30px;
    font-style: italic;
    color: white
}

.foot {
    height: 170px;
    width: 100%;
    background-color:rgba(3, 32, 47, 0.589) ;
}

#login_button {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 30px;
    font-style: italic;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
    border: 5px double rgba(39, 155, 231, 0.93);
    border-radius: 0px 28px 0px 31px;
}

#login_button:hover {
    background-color: rgba(9, 114, 171, 0.589);
    border: 5px double rgba(39, 155, 231, 0.93);
    border-radius: 30px 0px 30px 0px;
    color: white;
}